@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html {
    scroll-behavior: smooth;
}

.container {
    margin: 2% auto;
    width: 70%;
    text-align: center;
    justify-content: center;
    height: 250px;
}

div.container {
    text-align: center;

    justify-content: center;
    /*  */

}


.anim {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;

}

.anim .timer {
    position: relative;

}

.anim iframe {
    padding-top: 10px;
}

.confetti {
    position: absolute;
    top: 5px;
}

.confetti .timer {
    position: relative;
}

.close {
    display: none;
}

.timer {
    padding-top: 10px;
    background-color: #9400ff;
    border-radius: 5px;
    margin: auto;
    width: 300px;
    height: 200px;
    opacity: 0.7;
    padding: 10px;
    transform: scale(1);
    animation: pulse 2s infinite;
    transform: scale(1);
}

#stopwatch {
    font-size: 0.7rem;
}

.playlist {
    cursor: pointer;
    padding-top: 25px;
}



@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

div.timer p {
    font-family: 'Fredoka One', cursive;
    font-size: 1rem;
    color: white;

}

body {
    background-size: cover;
    background-repeat: initial;
    height: 100%;
    background-image: url('/img/background.svg');

}

.link-git {
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
    color: #6100ba;
    margin: auto;
    padding: 10px;
}

footer {
    margin: 15% auto;
    width: 70%;
    text-align: center;
}

.animation-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 768px) and (orientation:portrait) {
    body {
        background-image: url('/img/background-sm.svg');
        background-size: cover;
        height: 100%;
        background-repeat: no-repeat;
    }
}