@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


.container {
    margin: 10% auto;
    width: 70%;
    text-align: center;

}

div.container {

    background-color: black;
    opacity: 0.5;
    padding: 10px;
    transform: scale(1);
    animation: pulse 2s infinite;
    transform: scale(1);

}

.playlist {
    margin: 0px auto;
    text-align: center;
    width:300px;
   
    opacity: 0.8;
    padding: 10px;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

div.timer p {
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    color: white;
}

body {
   
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/img/background.svg');

}

@media screen and (max-width: 768px) and (orientation:portrait) {
    body {
        background-image: url('/img/background-sm.svg');
    }
}